*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px #ccc;
    border-radius: 4px;
}

section {
    position: relative;
    width: 100%;
}

.h1 {
    font-size: 16px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5rem;
    width: 100%;
    height: 100vh;
}

#results {
    font-size: 4rem;
}

#asking-container {
    margin-bottom: -2rem;
}

#asking {
    font-size: 2rem;
}

body {
    background-image: linear-gradient(45deg, #f9f9f9, #B3D4E6);
    background: #f9f9f9;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 0;
}


/* input [type=submit] {
    padding: 5px 15px;
    border-radius: 5px;
    background: #121212;
} */


/* .custom-select {
    position: relative;
}

.custom-select select {
    display: none;
}
.select-selected {
    background-color: #f9f9f9;
}
.select-items div, .select-selected {
    color: #313131;
    padding: 8px 16px;

}
.select {
    position: absolute;
    background-color: #f9f9f9;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
} */

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
  }
  
.custom-select select {
display: none; /*hide original SELECT element: */
}

.select-selected {
background-color: #f9f9f9; /*============ Background color ================*/
}

.select-selected:hover {
    background-color: lightgray;
    transition: 0.7s;
}

/* Style the arrow inside the select element: */
.select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: gray transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
border-color: transparent transparent #fff transparent;
top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
color: #121212; /*============ Changes font color ===============*/
padding: 8px 16px;
border: 1px solid #d3d3d3;
/* border: 1px solid transparent; */
/* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
cursor: pointer;
}

/* Style items (options): */
.select-items {
position: absolute;
background-color: #f9f9f9; /*=============== Change selected bg color =================*/
top: 100%;
left: 0;
right: 0;
z-index: 99;
}

.select-items div:hover {
    background: lightgray;
    transition: 0.7s;
}

/* Hide the items when the select box is closed: */
.select-hide {
display: none;
}

.select-items div:hover, .same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
}

#submit {
    cursor: pointer;
    padding: 0.8rem 15px;
    border-radius: 5px;
    background: #121212;
    color: #FFF;
    margin-top: 1.7rem;
}

#submit:hover {
    opacity: 0.84;
    transition: 0.4s;
}